In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN','NAME'], axis=1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced (T13 and under where <100)
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T8','T7','T10','T9','T13','T12','T2','T25','T14','T29','T15','T17']

In [7]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C7000','C1700','C4000','C5000','C1270','C2700','C2800','C7100','C1300','C1280','C1230','C1400','C7200','C2300', \
                              'C1240','C8000','C7120','C1500','C1800','C6000','C1250','C8200', \
                              'C1238','C1278','C1235','C1237','C7210','C2400','C1720','C4100','C1257','C1600','C1260','C2710','C0','C3200','C1234', \
                              'C1246','C1267','C1256','C1370','C1236','C2190','C4200','C5200','C1900','C2600','C1248','C6100','C1820', \
                              'C1580','C2570','C1732','C3700','C2500','C1570','C1283','C2380','C1728','C2170','C4120','C8210', \
                              'C4500','C1245','C2561','C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Create OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\aimee\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,NAME_146TH ALUMNI ASSOCIATION,NAME_14TH ARMORED DIVISION,NAME_150TH INTELLIGENCE SQUADRON ENLISTED ADVISORY COUNCIL,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# merge one-hot encoded features and drop the orginals
application_df = application_df.merge(encode_df, left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\aimee\AppData\Local\Temp\ipykernel_13584\764149855.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(application_cat,1)

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

C:\Users\aimee\AppData\Local\Temp\ipykernel_13584\3281902470.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(['IS_SUCCESSFUL'],1).values

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(input_shape=(X_train_scaled.shape[1],),units=16, activation='relu', input_dim=14))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation='relu'))

# third hidden layer
#nn_model.add(tf.keras.layers.Dense(units=16, activation='relu'))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                313760

 dense_1 (Dense)             (None, 16)                272

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 314,049
Trainable params: 314,049
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [17]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 4s 4ms/step - loss: 0.5200 - accuracy: 0.7402
Epoch 2/150
804/804 [==============================] - 3s 3ms/step - loss: 0.1818 - accuracy: 0.9295
Epoch 3/150
804/804 [==============================] - 3s 3ms/step - loss: 0.1039 - accuracy: 0.9590
Epoch 4/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0957 - accuracy: 0.9607
Epoch 5/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0932 - accuracy: 0.9612
Epoch 6/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0917 - accuracy: 0.9621
Epoch 7/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0911 - accuracy: 0.9620
Epoch 8/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0896 - accuracy: 0.9624
Epoch 9/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0894 - accuracy: 0.9626
Epoch 10/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0889 - accuracy: 0.9635
Epoch 11/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0878 - accuracy: 0.9641
Epoch 12/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0874 - accuracy: 0.9636
Epoch 13/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0870 - accuracy: 0.9638
Epoch 14/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0859 - accuracy: 0.9643
Epoch 15/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0864 - accuracy: 0.9641
Epoch 16/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0853 - accuracy: 0.9649
Epoch 17/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0853 - accuracy: 0.9646
Epoch 18/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0845 - accuracy: 0.9653
Epoch 19/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0842 - accuracy: 0.9653
Epoch 20/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0839 - accuracy: 0.9653
Epoch 21/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0836 - accuracy: 0.9653
Epoch 22/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0834 - accuracy: 0.9655
Epoch 23/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0827 - accuracy: 0.9654
Epoch 24/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0826 - accuracy: 0.9658
Epoch 25/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0824 - accuracy: 0.9658
Epoch 26/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0820 - accuracy: 0.9658
Epoch 27/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0817 - accuracy: 0.9665
Epoch 28/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0815 - accuracy: 0.9665
Epoch 29/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0813 - accuracy: 0.9669
Epoch 30/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0809 - accuracy: 0.9665
Epoch 31/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0807 - accuracy: 0.9668
Epoch 32/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0802 - accuracy: 0.9666
Epoch 33/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0812 - accuracy: 0.9664
Epoch 34/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0803 - accuracy: 0.9662
Epoch 35/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0799 - accuracy: 0.9667
Epoch 36/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0800 - accuracy: 0.9673
Epoch 37/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0793 - accuracy: 0.9670
Epoch 38/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0794 - accuracy: 0.9670
Epoch 39/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0790 - accuracy: 0.9671
Epoch 40/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0790 - accuracy: 0.9679
Epoch 41/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0789 - accuracy: 0.9666
Epoch 42/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0785 - accuracy: 0.9679
Epoch 43/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0786 - accuracy: 0.9674
Epoch 44/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0784 - accuracy: 0.9677
Epoch 45/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0780 - accuracy: 0.9673
Epoch 46/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0783 - accuracy: 0.9672
Epoch 47/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0778 - accuracy: 0.9679
Epoch 48/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0775 - accuracy: 0.9681
Epoch 49/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0771 - accuracy: 0.9685
Epoch 50/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0773 - accuracy: 0.9679
Epoch 51/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0772 - accuracy: 0.9681
Epoch 52/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0774 - accuracy: 0.9677
Epoch 53/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0769 - accuracy: 0.9682
Epoch 54/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0768 - accuracy: 0.9677
Epoch 55/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0768 - accuracy: 0.9682
Epoch 56/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0768 - accuracy: 0.9684
Epoch 57/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0769 - accuracy: 0.9684
Epoch 58/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0769 - accuracy: 0.9682
Epoch 59/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0766 - accuracy: 0.9680
Epoch 60/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0760 - accuracy: 0.9686
Epoch 61/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0762 - accuracy: 0.9676
Epoch 62/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0757 - accuracy: 0.9684
Epoch 63/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0759 - accuracy: 0.9688
Epoch 64/150
804/804 [==============================] - 3s 4ms/step - loss: 0.0760 - accuracy: 0.9686
Epoch 65/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0757 - accuracy: 0.9684
Epoch 66/150
804/804 [==============================] - 3s 4ms/step - loss: 0.0756 - accuracy: 0.9690
Epoch 67/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0757 - accuracy: 0.9693
Epoch 68/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0750 - accuracy: 0.9688
Epoch 69/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0752 - accuracy: 0.9693
Epoch 70/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0751 - accuracy: 0.9696
Epoch 71/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0750 - accuracy: 0.9686
Epoch 72/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0755 - accuracy: 0.9696
Epoch 73/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0747 - accuracy: 0.9693
Epoch 74/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0748 - accuracy: 0.9695
Epoch 75/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0741 - accuracy: 0.9694
Epoch 76/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0746 - accuracy: 0.9690
Epoch 77/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0748 - accuracy: 0.9692
Epoch 78/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0747 - accuracy: 0.9688
Epoch 79/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0746 - accuracy: 0.9694
Epoch 80/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0741 - accuracy: 0.9696
Epoch 81/150

804/804 [==============================] - 3s 3ms/step - loss: 0.0742 - accuracy: 0.9696
Epoch 82/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0742 - accuracy: 0.9694
Epoch 83/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0746 - accuracy: 0.9691
Epoch 84/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0741 - accuracy: 0.9700
Epoch 85/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0745 - accuracy: 0.9694
Epoch 86/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0740 - accuracy: 0.9691
Epoch 87/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0738 - accuracy: 0.9692
Epoch 88/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0741 - accuracy: 0.9692
Epoch 89/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0740 - accuracy: 0.9695
Epoch 90/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0736 - accuracy: 0.9695
Epoch 91/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0741 - accuracy: 0.9696
Epoch 92/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0738 - accuracy: 0.9690
Epoch 93/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0734 - accuracy: 0.9697
Epoch 94/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0731 - accuracy: 0.9698
Epoch 95/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0730 - accuracy: 0.9701
Epoch 96/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0734 - accuracy: 0.9695
Epoch 97/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0734 - accuracy: 0.9696
Epoch 98/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0734 - accuracy: 0.9699
Epoch 99/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0734 - accuracy: 0.9696
Epoch 100/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0729 - accuracy: 0.9698
Epoch 101/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0728 - accuracy: 0.9699
Epoch 102/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0732 - accuracy: 0.9700
Epoch 103/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0730 - accuracy: 0.9696
Epoch 104/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0731 - accuracy: 0.9698
Epoch 105/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0732 - accuracy: 0.9698
Epoch 106/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0722 - accuracy: 0.9706
Epoch 107/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0726 - accuracy: 0.9702
Epoch 108/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0729 - accuracy: 0.9700
Epoch 109/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0722 - accuracy: 0.9705
Epoch 110/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0727 - accuracy: 0.9707
Epoch 111/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0720 - accuracy: 0.9705
Epoch 112/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0730 - accuracy: 0.9702
Epoch 113/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0726 - accuracy: 0.9706
Epoch 114/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0721 - accuracy: 0.9703
Epoch 115/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0725 - accuracy: 0.9707
Epoch 116/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0728 - accuracy: 0.9695
Epoch 117/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0722 - accuracy: 0.9705
Epoch 118/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0722 - accuracy: 0.9708
Epoch 119/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0726 - accuracy: 0.9700
Epoch 120/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0721 - accuracy: 0.9703
Epoch 121/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0721 - accuracy: 0.9705
Epoch 122/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0721 - accuracy: 0.9703
Epoch 123/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0716 - accuracy: 0.9706
Epoch 124/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0715 - accuracy: 0.9704
Epoch 125/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0719 - accuracy: 0.9702
Epoch 126/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0714 - accuracy: 0.9708
Epoch 127/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0716 - accuracy: 0.9708
Epoch 128/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0715 - accuracy: 0.9709
Epoch 129/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0721 - accuracy: 0.9703
Epoch 130/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0716 - accuracy: 0.9706
Epoch 131/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0718 - accuracy: 0.9704
Epoch 132/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0714 - accuracy: 0.9710
Epoch 133/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0717 - accuracy: 0.9705
Epoch 134/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0709 - accuracy: 0.9706
Epoch 135/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0709 - accuracy: 0.9713
Epoch 136/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0713 - accuracy: 0.9706
Epoch 137/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0711 - accuracy: 0.9707
Epoch 138/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0709 - accuracy: 0.9709
Epoch 139/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0719 - accuracy: 0.9707
Epoch 140/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0713 - accuracy: 0.9703
Epoch 141/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0707 - accuracy: 0.9711
Epoch 142/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0716 - accuracy: 0.9714
Epoch 143/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0713 - accuracy: 0.9707
Epoch 144/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0711 - accuracy: 0.9709
Epoch 145/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0709 - accuracy: 0.9709
Epoch 146/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0711 - accuracy: 0.9706
Epoch 147/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0706 - accuracy: 0.9713
Epoch 148/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0710 - accuracy: 0.9713
Epoch 149/150
804/804 [==============================] - 3s 4ms/step - loss: 0.0707 - accuracy: 0.9709
Epoch 150/150
804/804 [==============================] - 3s 3ms/step - loss: 0.0708 - accuracy: 0.9710

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.9791 - accuracy: 0.6723 - 1s/epoch - 4ms/step
Loss: 0.9790607690811157, Accuracy: 0.6723031997680664

In [19]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity.h5')